[submodule "test/helpers/bats-support"]
	path = plugin/test/helpers/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "test/helpers/bats-assert"]
	path = plugin/test/helpers/bats-assert
	url = https://github.com/bats-core/bats-assert.git
